.site-container:before,
.site-container:after,
.site-content:before,
.site-content:after,
.content-area:before,
.content-area:after,
.post-navigation:before,
.post-navigation:after {
    clear: both;
    content: "";
    display: table;
}