.site-content:before, .site-content:after {
  clear: both;
  content: "";
  display: table;
}

body {
  background: #eeeeee;
  font-family: "Merriweather", serif;
  font-family: var(--font-family-primary, "Merriweather", serif);
  height: 100%;
  margin: 0;
}

h1 {
  display: block;
  font-family: "Fira Sans", sans-serif;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0.67em 0;
}

h2 {
  display: block;
  font-family: "Fira Sans", sans-serif;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 2rem;
  font-weight: 700;
  margin: 0.83em 0;
}

h3 {
  display: block;
  font-family: "Fira Sans", sans-serif;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1em 0;
}

h4 {
  display: block;
  font-family: "Fira Sans", sans-serif;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1.33em 0;
}

h5 {
  display: block;
  font-family: "Fira Sans", sans-serif;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 1.125rem;
  font-weight: 700;
  margin: 1.67em 0;
}

h6 {
  display: block;
  font-family: "Fira Sans", sans-serif;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 1rem;
  font-weight: 700;
  margin: 2.33em 0;
}

figure {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}

@media screen and (min-width: 73.125rem) {
  .site-content {
    margin: 1.125rem auto;
    max-width: 70.875rem;
  }
  .site-content .left-sidebar .content-area {
    float: right;
    width: 70.5467372134%;
  }
  .site-content .left-sidebar .widget-area {
    float: left;
    width: 27.8659611993%;
  }
  .site-content .right-sidebar .content-area {
    float: left;
    width: 70.5467372134%;
  }
  .site-content .right-sidebar .widget-area {
    float: right;
    width: 27.8659611993%;
  }
}
.site-header .site-branding {
  text-align: center;
}
.site-header .site-branding .site-title {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}
.site-header .site-branding .site-title a {
  color: #000000;
  text-decoration: none;
}
.site-header .site-branding .site-description {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .primary-menu {
    width: 100%;
  }
  .primary-menu .menu-toggle {
    background: #000000;
    border: none;
    bottom: 1.125rem;
    color: #ffffff;
    font-family: "Merriweather", serif;
    font-family: var(--font-family-primary, "Merriweather", serif);
    left: 1.125rem;
    padding: 0.5rem 1rem;
    position: fixed;
  }
  .primary-menu .menu-items {
    background: #000000;
    left: -9999rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
  }
  .primary-menu .menu-items .menu-item {
    padding: 0.5rem 1rem;
  }
  .primary-menu .menu-items .menu-item a {
    background: #000000;
    border-bottom: none;
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    padding: 0.5rem 0;
    text-decoration: none;
    width: 100%;
  }
  .primary-menu .menu-items .menu-item a:hover {
    text-decoration: underline;
  }
  .primary-menu .menu-items .menu-item .dropdown-toggle {
    background: transparent;
    border-bottom: none;
    border-left: 0.063rem dashed #ffffff;
    border-right: none;
    border-top: none;
    padding: 0.938rem;
    position: absolute;
    right: 0.063rem;
    top: 0.063rem;
  }
  .primary-menu .menu-items .menu-item .dropdown-toggle .fontawesome {
    color: #ffffff;
    font-family: "Font Awesome 5 Free";
    font-size: 1.24rem;
  }
  .primary-menu .menu-items .menu-item .dropdown-toggle .fontawesome:before {
    content: "\f077";
  }
  .primary-menu .menu-items .menu-item .sub-menu {
    left: -9999rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
  }
  .primary-menu .menu-items .toggled-on .dropdown-toggle {
    background: transparent;
    border-bottom: none;
    border-left: 0.063rem dashed #ffffff;
    border-right: none;
    border-top: none;
    padding: 0.938rem;
    position: absolute;
    right: 0.063rem;
    top: 0.063rem;
  }
  .primary-menu .menu-items .toggled-on .dropdown-toggle .fontawesome {
    color: #ffffff;
    font-family: "Font Awesome 5 Free";
    font-size: 1.24rem;
  }
  .primary-menu .menu-items .toggled-on .dropdown-toggle .fontawesome:before {
    content: "\f078";
  }
  .primary-menu .menu-items .toggled-on .sub-menu {
    background: #000000;
    bottom: 3.4rem;
    left: 0;
    right: 0;
    padding-left: 1rem;
  }

  .toggled .primary-menu .menu-items {
    bottom: 3.6rem;
    left: 1.125rem;
    right: 1.125rem;
    position: fixed;
  }
}
@media screen and (min-width: 769px) {
  .primary-menu {
    background: #000000;
    padding: 1.125rem;
  }
  .primary-menu .menu-toggle {
    display: none;
  }
  .primary-menu .menu-items {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: static;
    justify-content: center;
  }
  .primary-menu .menu-items .menu-item {
    left: unset;
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .primary-menu .menu-items .menu-item.menu-item-has-children > a:after {
    color: #ffffff;
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    text-decoration: none;
    margin-left: 0.5rem;
  }
  .primary-menu .menu-items .menu-item.current-menu-item a {
    color: #ffffff;
    padding: 0.5rem 1rem;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }
  .primary-menu .menu-items .menu-item a {
    color: #ffffff;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
  .primary-menu .menu-items .menu-item .dropdown-toggle {
    display: none;
  }
  .primary-menu .menu-items .menu-item .sub-menu {
    background: #000000;
    left: 0;
    list-style-type: none;
    margin: 0.7rem 0;
    opacity: 0;
    padding: 0.5rem 0;
    position: absolute;
    transform: translateY(-1em);
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  }
  .primary-menu .menu-items .menu-item .sub-menu .menu-item {
    margin: 0 0 0.5rem 0;
    padding: 0.5rem;
  }
  .primary-menu .menu-items .menu-item .sub-menu .menu-item:last-child {
    margin: 0;
  }
  .primary-menu .menu-items .menu-item:hover .sub-menu, .primary-menu .menu-items .menu-item[focus-within] .sub-menu, .primary-menu .menu-items .menu-item.focus .sub-menu {
    left: 0;
    visibility: visible;
    /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
  }
  .primary-menu .menu-items .menu-item:hover .sub-menu, .primary-menu .menu-items .menu-item:focus-within .sub-menu, .primary-menu .menu-items .menu-item.focus .sub-menu {
    left: 0;
    visibility: visible;
    /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
  }
}
.content-area {
  line-height: 1.8rem;
}
.content-area .page {
  background: #ffffff;
  border: 0.063rem solid #cccccc;
  padding: 1.125rem;
}
.content-area .page .entry-header {
  text-align: center;
}
.content-area .page .entry-header .entry-title {
  margin: 0;
  padding: 0;
}
.content-area .post {
  background: #ffffff;
  border: 0.063rem solid #cccccc;
  padding: 1.125rem;
}
.content-area .post .entry-header {
  text-align: center;
}
.content-area .post .entry-header .entry-title {
  margin: 0;
  padding: 0;
}
.content-area .post .entry-header .entry-title a {
  color: #000000;
  text-decoration: none;
}

.content-area {
  line-height: 1.8rem;
}
.content-area .backdrop-portfolio {
  background: #ffffff;
  border: 0.063rem solid #cccccc;
  padding: 1.125rem;
}
.content-area .backdrop-portfolio .entry-header {
  text-align: center;
}
.content-area .backdrop-portfolio .entry-header .entry-title {
  margin: 0;
  padding: 0;
}
.content-area .backdrop-portfolio .entry-content {
  margin: 1.125rem 0;
}
.content-area .backdrop-portfolio .entry-content .portfolio-items {
  display: grid;
  grid-gap: 1.125rem;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.content-area .backdrop-portfolio .entry-content .portfolio-items .portfolio-item .wp-caption {
  background: #eeeeee;
  line-height: 1.8rem;
  padding: 0.5rem;
  text-align: center;
}
.content-area .backdrop-portfolio .entry-content .portfolio-items .portfolio-item .wp-caption .wp-caption-text {
  font-size: 1.625rem;
  margin: 0;
  padding: 0;
}
.content-area .backdrop-portfolio .entry-content .portfolio-items .portfolio-item .wp-caption .wp-caption-text a {
  color: #000080;
  text-decoration: none;
}

.site-portfolio {
  background: #ffffff;
  padding: 1.125rem;
}
.site-portfolio .content-area {
  margin: 0 auto;
  padding: 1.125rem;
  max-width: 1134px;
}
.site-portfolio .content-area .portfolio-header {
  text-align: center;
}
.site-portfolio .content-area .portfolio-header .portfolio-title {
  margin: 0;
  padding: 0;
}
.site-portfolio .content-area .portfolio-content {
  margin: 1.125rem 0;
}
.site-portfolio .content-area .portfolio-content .portfolio-items {
  display: grid;
  grid-gap: 1.125rem;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.site-portfolio .content-area .portfolio-content .portfolio-items .portfolio-item .wp-caption {
  background: #eeeeee;
  line-height: 1.8rem;
  padding: 0.5rem;
  text-align: center;
}
.site-portfolio .content-area .portfolio-content .portfolio-items .portfolio-item .wp-caption .wp-caption-text {
  font-size: 1.625rem;
  margin: 0;
  padding: 0;
}
.site-portfolio .content-area .portfolio-content .portfolio-items .portfolio-item .wp-caption .wp-caption-text a {
  color: #000080;
  text-decoration: none;
}

.comments-header {
  text-align: center;
}

.comments-area {
  background-color: white;
  border: 0.063rem solid #cccccc;
  padding: 1.12rem;
  margin-top: 1.125rem;
}
.comments-area .comment-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.comments-area .comment-list .comment {
  border: 0.063rem solid #cccccc;
  margin: 1.125rem 0;
  padding: 1.125rem;
}
.comments-area .comment-list .bypostauthor > .comment-body {
  background: #eeeeee;
  padding: 1.125rem;
}
.comments-area .comment-list .comment-meta {
  border-bottom: 0.063rem solid #cccccc;
  padding-bottom: 0.5rem;
}
.comments-area .comment-list .comment-meta .comment-author .avatar {
  border: 0.25rem solid #cccccc;
  border-radius: 50%;
  float: left;
}
.comments-area .comment-list .comment-meta .comment-author .fn {
  font-style: normal;
  font-weight: bold;
  padding-left: 1rem;
}
.comments-area .comment-list .comment-meta .comment-author .fn a {
  border-bottom: none;
}
.comments-area .comment-list .comment-meta .comment-author .comment-metadata {
  font-size: 0.875rem;
  padding-left: 4.5rem;
  margin-top: -0.5rem;
}
.comments-area .comment-list .comment-meta .comment-author .reply::before {
  content: ".";
  font-size: 1.5rem;
  margin: 0 0.2rem;
}
.comments-area .comment-list .children {
  list-style-type: none;
  margin-top: 1.125rem 0;
  padding-left: 2.25rem;
}
.comments-area .comment-list .children .comment {
  border: none;
  padding: 0;
}
.comments-area .comment-respond {
  border: 0.063rem solid #cccccc;
  margin-top: 1.125rem;
  padding: 1.125rem;
}
.comments-area .comment-respond .comment-reply-title {
  margin: 0;
  padding: 0;
}
.comments-area .comment-respond .logged-in-as {
  font-size: 0.875rem;
}
.comments-area .comment-respond .comment-form .comment-form-comment:before {
  font-family: "Font Awesome 5 Free";
  content: "\f075";
  float: left;
  margin-left: 0.063em;
  margin-right: 0.25em;
}
.comments-area .comment-respond .comment-form .comment-form-comment textarea {
  border: 0.063em solid #cccccc;
  box-sizing: border-box;
  font-family: "Merriewather", serif;
  font-size: 1rem;
  max-height: 230px;
  max-width: 100%;
  display: block;
  padding: 0.5rem;
  width: 100%;
}
.comments-area .comment-respond .comment-form .comment-form-author {
  float: left;
  width: 49.2063492063%;
}
.comments-area .comment-respond .comment-form .comment-form-author:before {
  font-family: "Font Awesome 5 Free";
  content: "\f007";
  float: left;
  margin-left: 0.063em;
  margin-right: 0.25em;
}
.comments-area .comment-respond .comment-form .comment-form-author input[type=text] {
  border: 0.063em solid #cccccc;
  box-sizing: border-box;
  font-family: "Merriewather", serif;
  font-size: 1em;
  display: block;
  padding: 0.5em;
  width: 100%;
}
.comments-area .comment-respond .comment-form .comment-form-email {
  float: right;
  width: 49.2063492063%;
}
.comments-area .comment-respond .comment-form .comment-form-email:before {
  font-family: "Font Awesome 5 Free";
  content: "\f0e0";
  float: left;
  margin-left: 0.063em;
  margin-right: 0.25em;
}
.comments-area .comment-respond .comment-form .comment-form-email input[type=email] {
  border: 0.063em solid #cccccc;
  box-sizing: border-box;
  font-family: "Merriewather", serif;
  font-size: 1em;
  display: block;
  padding: 0.5em;
  width: 100%;
}
.comments-area .comment-respond .comment-form .comment-form-url {
  margin-bottom: 1.3em;
  width: 100%;
}
.comments-area .comment-respond .comment-form .comment-form-url:before {
  font-family: "Font Awesome 5 Free";
  content: "\f0ac";
  float: left;
  margin-left: 0.063em;
  margin-right: 0.25em;
}
.comments-area .comment-respond .comment-form .comment-form-url input[type=url] {
  border: 0.063em solid #cccccc;
  box-sizing: border-box;
  font-family: "Merriewather", serif;
  font-size: 1em;
  display: block;
  padding: 0.5em;
  width: 100%;
}
.comments-area .comment-respond .comment-form .form-submit {
  margin-bottom: 0;
}
.comments-area .comment-respond .comment-form .form-submit .submit {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0.5rem 1rem;
  line-height: 1;
  font-family: var(--font-family-secondary);
  font-size: 1rem;
  border-radius: 3px;
  white-space: normal;
  word-break: break-all;
  transition: all 0.5s ease-in-out;
}
.comments-area .comment-respond .comment-form .required {
  color: #FF0000;
  font-size: 0.625em;
}
.comments-area .comment-respond .comment-form .comment-notes {
  font-size: 12px;
}
.comments-area .comment-respond .comment-form .comment-form-cookies-consent {
  font-size: 14px;
}
.comments-area .comment-respond .comment-form .comment-form-cookies-consent input[type=checkbox] {
  margin-right: 0.25em;
}

@media screen and (max-width: 1024px) {
  .no-sidebar .content-area .post {
    background: #ffffff;
    margin: 1.125rem;
  }
  .no-sidebar .content-area .post.has-post-thumbnail {
    position: unset;
  }
  .no-sidebar .content-area .post.has-post-thumbnail .post-thumbnail {
    left: 0;
    position: unset;
    top: 0;
  }
  .no-sidebar .content-area .post.has-post-thumbnail .post-thumbnail .size-camaraderie-small-thumbnails {
    height: auto;
    margin-bottom: 1.125em;
    width: auto;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1170px) {
  .no-sidebar .content-area .post {
    margin: 1.125rem;
    min-height: 18rem;
  }
  .no-sidebar .content-area .post.has-post-thumbnail {
    position: relative;
    padding-left: 21.375em;
  }
  .no-sidebar .content-area .post.has-post-thumbnail .post-thumbnail {
    left: 0;
    position: absolute;
    top: 0;
  }
}
@media screen and (min-width: 1171px) {
  .no-sidebar .content-area .post {
    min-height: 18rem;
  }
  .no-sidebar .content-area .post.has-post-thumbnail {
    position: relative;
    padding-left: 21.375em;
  }
  .no-sidebar .content-area .post.has-post-thumbnail .post-thumbnail {
    left: 0;
    position: absolute;
    top: 0;
  }
}
.widget {
  background: #ffffff;
  border: 0.063rem solid #cccccc;
  margin-top: 1.125rem;
  padding: 1.125rem;
}
.widget:first-child {
  margin-top: 0;
}
.widget .widget-title {
  margin: 0;
  padding: 0;
}
.widget ul {
  list-style-type: none;
  margin: 1.125rem 0 0 0;
  padding: 0;
}
.widget.widget_calendar #wp-calendar table {
  border-collapse: collapse;
  width: 100%;
}
.widget.widget_calendar #wp-calendar tr:nth-of-type(odd) {
  background: #eeeeee;
}
.widget.widget_calendar #wp-calendar th {
  background: #000000;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}
.widget.widget_calendar #wp-calendar th,
.widget.widget_calendar #wp-calendar td {
  border: 0.063em solid #cccccc;
  padding: 0.438em;
  text-align: center;
}
.widget.widget_calendar #wp-calendar {
  border: 0.063em solid #cccccc;
  margin-bottom: 0;
  text-align: center;
  width: 100%;
}
.widget.widget_calendar #wp-calendar a {
  color: #000080;
}
.widget.widget_calendar #wp-calendar caption {
  font-weight: 700;
  margin: 5px 0;
  text-align: center;
}
.widget.widget_calendar #wp-calendar #today {
  background: #000000;
  color: #ffffff;
  font-weight: 700;
}

.site-footer {
  background: #000000;
  line-height: 1.8rem;
  padding: 1.125rem;
}
.site-footer .site-info {
  color: #ffffff;
  text-align: center;
}
.site-footer .site-info a {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  word-wrap: normal;
  border: none;
}
.screen-reader-text:active, .screen-reader-text:focus {
  clip: auto;
  -webkit-clip-path: none;
          clip-path: none;
  display: block;
  height: auto;
  width: auto;
  z-index: 100000;
  text-decoration: none;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
