.site-blog {
	.content-area {
		margin: 0 auto;
		padding: 1.125rem;
		max-width: 1134px;

		.blog-header {
			text-align: center;

			.blog-title {
				margin: 0;
				padding: 0;
			}
		}

		.blog-content {
			margin-top: 1.125rem;

			.blog-items {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: 1.125rem;
				list-style-type: none;
				margin: 0;
				padding: 0;

				.blog-item {
					.entry-header {
						text-align: center;

						.entry-title {
							margin: 0;
							padding: 0;
						}
					}
				}
			}
		}
	}
}